body {
    font-family: 'Roboto', sans-serif;
}

.slider-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
}

.slide {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.5s ease-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.slide.show {
    opacity: 1;
}

.slide.slide-1 {
    background-image: url(../images/image-1.png);
}

.slide.slide-2 {
    background-image: url(../images/image-2.png);
}

.slide.slide-3 {
    background-image: url(../images/image-3.png);
}

.slide.slide-4 {
    background-image: url(../images/image-4.png);
}

.slider-container .arrow {
    position: absolute;
    height: 50px;
    cursor: pointer;
}

.slider-container .arrow:hover {
    opacity: 80%;
}

.slider-container .previous-arrow {
    left: 4%;
}

.slider-container .next-arrow {
    right: 4%;
}

.slider-container .arrow.inactive, .slider-container .arrow.inactive:hover {
    opacity: 50%;
    cursor: auto;
}

.slide .text-container {
    background-color: #fff;
    width: 380px;
    border-radius: 10px;
    margin-left: 12%;
    padding: 45px 40px;
}

.slide .text-container .slide-title {
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 30px;
}

.slide .text-container .slide-text {
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.slide .text-container .know-more {
    font-weight: 700;
    font-size: 18px;
}

.slide-1 .text-container .know-more {
    color: #C50000;
}

.slide-2 .text-container .know-more {
    color: #D9DD10;
}

.slide-3 .text-container .know-more {
    color: #A63A17;
}

.slide-4 .text-container .know-more {
    color: #10ACDD;
}
